
<main class="main">
  <div class="content">
    <h1>{{ title }}</h1>
    <div>
      <form [formGroup]="form">
        <input type="text" formControlName="newTask" placeholder="New task">
        <button class="add-button" (click)="addTask()">Add</button>
      </form>
    </div>
    <ul class="list">
      @for ( task of listArray; track task; let i = $index ) {
        <li>
          <span class="text">{{ task }}</span>
          <div class="group-btn">
            <button class="move-button" (click)="moveUpTask( i )">Up</button>
            <button class="move-button" (click)="moveDownTask( i )">Down</button>
            <button class="delete-button" (click)="deleteTask( i )">Delete</button>
          </div>
        </li>
      }
    </ul>
  </div>
</main>

<router-outlet />
